{
  "printWidth": 250,
  "trailingComma": "all",
  "singleQuote": false,
  "tabWidth": 2,
  "semi": true,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
